.addrole {
  &-container {
    .title {
      @include text(2.4rem);
      font-weight: 700;
      line-height: 3.6rem;
      color: $orange-500;
      margin: 1.6rem 0;
    }
    &-main {
      background-color: $white;
      padding: 1.6rem 2.4rem 3rem;
      .heading {
        @include heading(2rem);
        line-height: 3rem;
        color: $orange-500;
      }
      .sub-heading {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $gray-500;
        span {
          color: $red-dark;
        }
      }
      &-box {
        width: 50%;
        &-content-left {
          input,
          textarea {
            width: 100%;
            font-size: 1.6rem;
            color: $gray-200;
            font-weight: 400;
            line-height: 2.4rem;
            margin-bottom: 1.2rem;
          }
          textarea {
            padding: 1rem 27rem 0rem 1.2rem;
            background: #ffffff;
            border: 0.15rem solid #d4d4d7;
            border-radius: 0.8rem;
            font-size: 1.8rem;
            color: #535261;
          }
          .note {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            span {
              color: $red-dark;
            }
            .sub-note {
              font-weight: 400;
              font-size: 1.4rem;
              line-height: 2.1rem;
              color: $gray-300;
            }
          }
        }
        &-content-right {
          padding-left: 2.4rem;
          form {
            width: 100%;
            height: 100%;
            max-width: 56rem;
            max-height: 42rem;
            padding: 0 0 3rem 2.4rem;
            background-color: $bg-orange-light;
            border-radius: 0.8rem;
            overflow-x: hidden;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
              width: 0.6rem;
            }
            &::-webkit-scrollbar-track {
              background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
              background-color: $orange-200;
              border-radius: 0.8rem;
            }
            label {
              display: block;
              font-weight: 700;
              font-size: 2rem;
              line-height: 3rem;
              color: $orange-500;
              padding-top: 1.6rem;
            }
            .input {
              display: flex;
              align-items: center;
              padding: 1.2rem 0;
              gap: 0.8rem;
              input {
                width: 2rem;
                height: 2rem;
                border: 0.15 solid #4277ff;
                border-radius: 0.4rem;
              }
            }
          }
        }
      }
    }
    .function {
      display: flex;
      justify-content: center;
      gap: 3.2rem;
      margin: 4rem;
      .btn-cancel {
        background-color: $orange-50;
      }
    }
  }
}
