.numberdetail {
  &-container {
    .title {
      @include text(2.4rem);
      font-weight: 700;
      line-height: 3.6rem;
      color: $orange-500;
      margin: 1.6rem 0;
    }
    &-main {
      background-color: $white;
      padding: 1.6rem 2.4rem 36rem;
      box-shadow: 0.2rem 0.2rem 0.8rem rgba(232, 239, 244, 0.8);
      border-radius: 1.6rem;
      .heading {
        @include heading(2rem);
        line-height: 3rem;
        color: $orange-500;
      }
      .flex-box {
        display: flex;
        &-left,
        &-right {
          width: 50%;
        }
      }
      &-box {
        display: flex;
        margin: 0.8rem 0;
        width: 100%;
        .sub-heading {
          width: 23%;
          font-size: 1.6rem;
          font-weight: 600;
          color: $gray-500;
          line-height: 2.4rem;
        }
        span {
          font-size: 1.6rem;
          color: $gray-400;
          font-weight: 400;
          line-height: 2.4rem;
          .blue {
            position: relative;
            color: $blue;
            font-size: 2rem;
            p {
              position: absolute;
              top: 0;
              right: -5.2rem;
              display: inline-block;
              color: $gray-400;
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}
